FoamFile
{
    format      ascii;
    class       dictionary;
    object      fvSolution;
}

solvers
{
    default
    {
        solver          smoothSolver;
        smoother        symGaussSeidel;
        tolerance       1e-08;
        relTol          0;
    }
}
